:local(.controlsContainer) {
  position: absolute;
  right: 1em;
  bottom: 2em;
  z-index: 100;
}

:local(.marker) {
  transform: translate(-50%, -50%);
  height: 5em;
  width: 5em;
}

:local(.departDeliver) {
  font-size: 300%;
  font-weight: bold;
  color: #F46524;
}
