:local(.routePointsFormContainer) {
  :global(.inline.field) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    :global(.ui.search.selection.dropdown) {
      flex-grow: 1;
    }
  }

  :global(.ui.button.primary) {
    float: right;
  }
}
