body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.loginRegisterFormContainer {
  width: 30em;
  padding: 1em 2em 1.2em 2em;
  border-radius: 5px;
  background-color: white;

  :global(.ui.label) {
    display: block;
    width: max-content;
  }

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}
